<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e677af">  <td>21/07/23 22:11:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UKFD_ERP_Testcases.TradeOrderViaContactCentreCarpet(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.UKFD_ERP_Testcases@47d90b9e]">TradeOrderViaContactCentreCarpet</td> 
  <td>main@1354003114</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/07/23 22:10:58</td>   <td>-10764</td> <td>&nbsp;</td><td title="&gt;&gt;UKFD_ERP_Testcases.setExtent()[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@47d90b9e]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354003114</td>   <td></td> </tr>
<tr bgcolor="e677af">  <td>21/07/23 22:10:59</td>   <td>-10462</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UKFD_ERP_Testcases.setUp()[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@47d90b9e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354003114</td>   <td></td> </tr>
</table>
